{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>

    <div>
        {{ if .Date }}
        <small><strong>Date:</strong> {{ .Date.Format "January 2, 2006" }}</small><br>
        {{ end }}
        {{ if .Params.status }}
        <small><strong>Status:</strong> {{ .Params.status }}</small><br>
        {{ end }}
        {{ if .Params.technologies }}
        <small><strong>Technologies:</strong> {{ delimit .Params.technologies ", " }}</small><br>
        {{ end }}
        {{ if .Params.collaborators }}
        <small><strong>Collaborators:</strong> {{ delimit .Params.collaborators ", " }}</small><br>
        {{ end }}
    </div>    {{ $links := slice }}
    {{ if .Params.github }}
        {{ $links = $links | append (dict "url" .Params.github "label" "github" "icon" "github") }}
    {{ end }}
    {{ if .Params.gitlab }}
        {{ $links = $links | append (dict "url" .Params.gitlab "label" "gitlab" "icon" "gitlab") }}
    {{ end }}
    {{ if .Params.demo }}
        {{ $links = $links | append (dict "url" .Params.demo "label" "demo" "icon" "demo") }}
    {{ end }}
    {{ if .Params.website }}
        {{ $links = $links | append (dict "url" .Params.website "label" "website" "icon" "website") }}
    {{ end }}
    {{ if .Params.paper }}
        {{ $links = $links | append (dict "url" .Params.paper "label" "paper" "icon" "paper") }}
    {{ end }}
    
    {{ if $links }}
    <div class="project-links">
        {{ range $index, $link := $links }}
        <a href="{{ $link.url }}" target="_blank" class="project-link">{{ $link.icon }}</a>{{ if ne $index (sub (len $links) 1) }} {{ end }}
        {{ end }}
    </div>
    {{ end }}

    <div>
        {{ .Content }}
    </div> {{ if .Params.tags }}
    <div>
        <h3>Tags</h3>
        {{ range .Params.tags }}
        <span>{{ . }}</span>{{ if not (eq . (index $.Params.tags (sub (len $.Params.tags) 1))) }}, {{ end }}
        {{ end }}
    </div>
    {{ end }}
</article>
{{ end }}